<div class="container">
  <div class="row">
      <ng4-loading-spinner> </ng4-loading-spinner>
      <div class="col-md-4" *ngFor="let course of enrolledCourses">
          <a (click)="onSelect(course)" >
            <div class="card pr-2 a-teacher">
              <div class="card-header"><strong>{{course.name}}</strong></div>
              <div class="card-body">{{course.description}}</div>
              <div class="card-footer"><strong>{{course.subject}}</strong></div>
            </div>
          </a>
      </div>
  </div>
</div>