<ngx-loading-bar color="#fff" height="3px"></ngx-loading-bar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <Button class="btn btn-primary pull-right" data-toggle="modal" data-target="#register-subject">Add New Course</Button>
      <div #CloseModalRef class="modal fade" id="register-subject">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <!-- <h4 class="modal-title">Register Subject</h4> -->
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
        
              <!-- Modal body -->
              <form #registerSubjectForm=ngForm (ngSubmit)="onSubmit()" class="mt-4">
                <div class="modal-body">
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <input type="text" name="subject" [(ngModel)]="course.subject"  class="form-control" id="inputPassword3" placeholder="New Subject" required>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <textarea class="form-control" name="description" [(ngModel)]="course.description" style="border: 1px solid #E9ECEF !important" rows="5" placeholder="Description" required></textarea>
                      </div>
                    </div>
                  <!-- </div> -->
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <!-- <div class="form-group row">
                    <div class="col-sm-9 offset-2"> -->
                      <button  type="submit" class="btn btn-primary modalSubmit" id="btnRegisterSubject"  [disabled]="!registerSubjectForm.valid" (click)="hideModal()">Add Course</button>
                    <!-- </div>
                  </div> -->
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let subject of subjects">
      <div class="card pr-2 a-teacher">
        <div class="card-header">
          <strong>{{subject.subject}}</strong>
          <div class="remove pull-right">
              <a (click)="onDelete(subject)"><i class="now-ui-icons ui-1_simple-remove" style="color:red"></i></a>
            </div>
        </div>
        <a (click)="onSelect(subject)">
          <div class="card-body">{{subject.description}}</div>
          <div class="card-footer">{{subject.created_at}}</div>
        </a>
      </div>
  </div>
  </div>
</div>

