<ngx-loading-bar color="#fff" height="3px"></ngx-loading-bar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row card a-teacher" *ngFor="let lesson of lessons">
          <a (click)="onSelect(lesson)">
            <div class="card-header"><strong>{{lesson.title}}</strong></div>
            <!-- <div class="card-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, inventore. Quam sapiente iste, temporibus animi eum, provident quas eos eius molestias minus placeat fugit quasi. Id harum deserunt veniam error.</div> -->
            <div class="card-footer">{{ lesson.created_at }}</div>
          </a>
      </div>
    </div>
  </div>
</div>