<ngx-loading-bar color="#fff" height="3px"></ngx-loading-bar>
<div class="container">
  <div class="row">
      <ng4-loading-spinner> </ng4-loading-spinner>
      <div class="col-md-4" *ngFor="let course of courses;index as i">
          <a>
            <div class="card pr-2 courseCard" (mouseenter)="course.toggle=true" (mouseleave)="course.toggle=false">
              <div class="enrollCourse" >
                <div class="card-header"><strong>{{course.name}}</strong></div>
                <div class="card-body" id="descCourse" style="overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-height:25px;
                -webkit-box-orient: vertical">{{course.description}}</div>
                <div class="card-footer"><strong>{{course.subject}}</strong></div>
              </div>
              <div class="cover" *ngIf="course.toggle">
                <button class="btn btn-primary btnEnroll" (click)="onSelect(course)" [disabled]='clicked === true'>Enroll</button>
              </div>
            </div>
            
          </a>
      </div>
  </div>
</div>
