<div class="sidebar" data-color="blue">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
  <div class="logo">
    <a href="/" class="simple-text logo-normal">
      e-Teacher
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li routerLinkActive="active">
        <a routerLink="/dashboard">
          <i class="now-ui-icons design_app"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/courses">
          <i class="now-ui-icons education_paper"></i>
          <p>courses</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/lessons">
          <i class="now-ui-icons education_atom"></i>
          <p>lessons</p>
        </a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="/your-courses">
            <i class="now-ui-icons education_atom"></i>
            <p>Your courses</p>
          </a>
        </li>
      <li routerLinkActive="active">
          <a routerLink="/students">
            <i class="now-ui-icons education_glasses"></i>
            <p>Students</p>
          </a>
        </li>
      <li routerLinkActive="active">
        <a routerLink="/settings">
          <i class="now-ui-icons ui-1_settings-gear-63"></i>
          <p>Settings</p>
        </a>
      </li>
    </ul>
  </div>
</div>